.item-card-container {
  width: 350px;
}

.item-card-container p {
  margin: 6px 0px;
}

.item-card-description {
  display: flex;
  gap: 20px;
}

.item-price {
  font-size: 18px;
  font-weight: 600;
  color: #374151;
}
.item-discount {
  font-size: 16px;
  font-weight: 500;
  color: #8c8c8c;
  text-decoration: line-through;
}
