.item-card-container {
  width: 350px;
}

.item-card-container p {
  margin: 6px 0px;
}

.item-card-description {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.item-price {
  font-size: 18px;
  font-weight: 600;
  color: #374151;
}

.item-discount {
  font-size: 16px;
  font-weight: 500;
  color: #8c8c8c;
  text-decoration: line-through;
}

.item-card-container img {
  border-radius: 12px;
}

.item-card-container img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
